In [1]:
import pandas as pd
import numpy as np
import os

os.makedirs('output', exist_ok=True)

* ridership_data contains all of the trip information from April-May 2022 to provide to WMATA

In [2]:
ridership_data = pd.concat(pd.read_excel("../../Data/railTrips-Apr-May2022.xlsx", sheet_name=None), ignore_index=True)

In [3]:
ridership_data.head()

,SVC_DATE,SUBSYSTEM,START_PLACE_NAME,ID,START_TIME,END_PLACE_NAME,ID_1,END_TIME,FARE_INSTRUMENT_ID,DESCRIPTION,RIDER_CLASS,FUND_TYPE,FARE_CENTS
0,2022-04-15,Metrorail,Cheverly,MSTN_058,2022-04-15 03:32:01,Bethesda,MSTN_052,2022-04-15 04:06:34,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0
1,2022-04-15,Metrorail,Prince George's Plaza,MSTN_054,2022-04-15 03:44:46,"Farragut North, SE",MSTN_012,2022-04-15 04:07:20,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0
2,2022-04-15,Metrorail,Takoma,MSTN_034,2022-04-15 03:51:59,College Park-U of MD,MSTN_053,2022-04-15 04:12:43,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0
3,2022-04-15,Metrorail,Takoma,MSTN_034,2022-04-15 03:52:13,College Park-U of MD,MSTN_053,2022-04-15 04:12:57,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0
4,2022-04-15,Metrorail,West Falls Church,MSTN_059,2022-04-15 03:59:33,Dunn Loring,MSTN_067,2022-04-15 04:14:05,16512,"Stored Value, EMPLOYEE",Employee,Self Funded,0

* Combine end point and start point of stations while having different entrances
* Remove trips where the start and end station are the same
* Group by the start and end locations and sum the passengers and export to get the passengers

In [4]:
ridership_data['START_PLACE_NAME'] = ridership_data['START_PLACE_NAME'].replace({'Anacostia, N': 'Anacostia', 'Anacostia, S':'Anacostia',
                          'Dupont Circle, N':'Dupont Circle','Dupont Circle, S':'Dupont Circle',
                          'Farragut North, NE':'Farragut North', 'Farragut North, NW':'Farragut North', 'Farragut North, SE':'Farragut North',
                          'Farragut West, E':'Farragut West','Farragut West, W':'Farragut West',
                          'Friendship Heights, N':'Friendship Heights','Friendship Heights, S':'Friendship Heights',
                          'Gallery Place-Chinatown, E':'Gallery Place-Chinatown','Gallery Place-Chinatown, N':'Gallery Place-Chinatown','Gallery Place-Chinatown, W':'Gallery Place-Chinatown',
                          'Huntington, N':'Huntington','Huntington, S':'Huntington',
                          'Judiciary Square, E':'Judiciary Square','Judiciary Square, W':'Judiciary Square',
                          'King Street, N':'King Street',
                          "L'Enfant Plaza, E":"L'Enfant Plaza","L'Enfant Plaza, N":"L'Enfant Plaza","L'Enfant Plaza, W":"L'Enfant Plaza",
                          "McPherson Square, E":"McPherson Square","McPherson Square, W":"McPherson Square",
                          "Metro Center, E":"Metro Center","Metro Center, W":"Metro Center","Metro Center, S":"Metro Center","Metro Center, N":"Metro Center",
                          "Navy Yard, E":"Navy Yard","Navy Yard, W":"Navy Yard",
                          "New York Ave. E":"New York Ave","New York Ave. W":"New York Ave",
                          "Shaw-Howard University, N":"Shaw-Howard University","Shaw-Howard University, S":"Shaw-Howard University",
                          "Silver Spring, N":"Silver Spring","Silver Spring, S":"Silver Spring",
                          "Smithsonian, N":"Smithsonian","Smithsonian, S":"Smithsonian",
                          "Stadium-Armory, N":"Stadium-Armory","Stadium-Armory, S":"Stadium-Armory",
                          "U Street-Cardozo, E":"U Street-Cardozo","U Street-Cardozo, W":"U Street-Cardozo",
                          "Union Station, N":"Union Station","Union Station, S":"Union Station",
                          "Rosslyn East":"Rosslyn",
                          "Farragut North":"Farragut","Farragut West":"Farragut",
                           "Reagan Washington National Airport, N":"Reagan Washington National Airport","Reagan Washington National Airport, S":"Reagan Washington National Airport"                                                     
      })


ridership_data['END_PLACE_NAME'] = ridership_data['END_PLACE_NAME'].replace({'Anacostia, N': 'Anacostia', 'Anacostia, S':'Anacostia',
                          'Dupont Circle, N':'Dupont Circle','Dupont Circle, S':'Dupont Circle',
                          'Farragut North, NE':'Farragut North', 'Farragut North, NW':'Farragut North', 'Farragut North, SE':'Farragut North',
                          'Farragut West, E':'Farragut West','Farragut West, W':'Farragut West',
                          'Friendship Heights, N':'Friendship Heights','Friendship Heights, S':'Friendship Heights',
                          'Gallery Place-Chinatown, E':'Gallery Place-Chinatown','Gallery Place-Chinatown, N':'Gallery Place-Chinatown','Gallery Place-Chinatown, W':'Gallery Place-Chinatown',
                          'Huntington, N':'Huntington','Huntington, S':'Huntington',
                          'Judiciary Square, E':'Judiciary Square','Judiciary Square, W':'Judiciary Square',
                          'King Street, N':'King Street',
                          "L'Enfant Plaza, E":"L'Enfant Plaza","L'Enfant Plaza, N":"L'Enfant Plaza","L'Enfant Plaza, W":"L'Enfant Plaza",
                          "McPherson Square, E":"McPherson Square","McPherson Square, W":"McPherson Square",
                          "Metro Center, E":"Metro Center","Metro Center, W":"Metro Center","Metro Center, S":"Metro Center","Metro Center, N":"Metro Center",
                          "Navy Yard, E":"Navy Yard","Navy Yard, W":"Navy Yard",
                          "New York Ave. E":"New York Ave","New York Ave. W":"New York Ave",
                          "Shaw-Howard University, N":"Shaw-Howard University","Shaw-Howard University, S":"Shaw-Howard University",
                          "Silver Spring, N":"Silver Spring","Silver Spring, S":"Silver Spring",
                          "Smithsonian, N":"Smithsonian","Smithsonian, S":"Smithsonian",
                          "Stadium-Armory, N":"Stadium-Armory","Stadium-Armory, S":"Stadium-Armory",
                          "U Street-Cardozo, E":"U Street-Cardozo","U Street-Cardozo, W":"U Street-Cardozo",
                          "Union Station, N":"Union Station","Union Station, S":"Union Station",
                           "Rosslyn East":"Rosslyn",
                          "Farragut North":"Farragut","Farragut West":"Farragut",
                        "Reagan Washington National Airport, N":"Reagan Washington National Airport",
                        "Reagan Washington National Airport, S":"Reagan Washington National Airport"
                                                                            })

In [5]:
ridership_data['START_PLACE_NAME'].unique()

array(['Cheverly', "Prince George's Plaza", 'Takoma', 'West Falls Church',
       'Arlington Cemetery', 'Greensboro', 'New Carrollton',
       'Shaw-Howard University', 'Greenbelt', 'Branch Avenue',
       'Potomac Avenue', 'Braddock Road', 'Silver Spring', 'Landover',
       'Judiciary Square', 'Largo Town Center', 'West Hyattsville',
       'Shady Grove', 'Rhode Island Avenue', 'Stadium-Armory', 'Vienna',
       'Glenmont', 'Franconia-Springfield', 'Rockville', 'Huntington',
       'Addison Road', 'Suitland', 'Farragut West', 'Morgan Blvd.',
       'Forest Glen', "L'Enfant Plaza", 'Wheaton', 'Eisenhower Avenue',
       'Wiehle', 'Capitol Heights', 'Crystal City', 'Dunn Loring',
       'Van Dorn Street', 'Van Ness-UDC', 'Naylor Road', 'Benning Road',
       'Southern Avenue', 'Friendship Heights', 'Twinbrook',
       'College Park-U of MD', 'Fort Totten', 'King Street', 'Pentagon',
       'Anacostia', 'White Flint', 'New York Ave', 'East Falls Church',
       'Reagan Washington National Airport', 'U Street-Cardozo',
       'Court House', 'Minnesota Avenue', 'Spring Hill', 'Deanwood',
       'Pentagon City', 'McLean', 'Clarendon', 'Union Station',
       'Tysons Corner', 'Eastern Market', 'Foggy Bottom',
       'Virginia Square-GMU', 'Waterfront', 'Ballston',
       'Georgia Avenue-Petworth', 'Grosvenor', 'Navy Yard',
       'Congress Heights', 'Gallery Place-Chinatown', 'Brookland',
       'Columbia Heights', 'Medical Center', 'Capitol South',
       'McPherson Square', 'Rosslyn', 'Archives-Navy Memorial',
       'Metro Center', 'Bethesda', 'Tenleytown-AU',
       'Mt. Vernon Square-UDC', 'Cleveland Park', 'Smithsonian',
       'Farragut North', 'Dupont Circle', 'Federal Center SW',
       'Woodley Park-Zoo', 'Federal Triangle'], dtype=object)

In [6]:
ridership_data = ridership_data[ridership_data['START_PLACE_NAME'] != ridership_data['END_PLACE_NAME']]

In [7]:
all_riders = ridership_data.groupby(["ID", "ID_1","START_PLACE_NAME","END_PLACE_NAME"]).size().reset_index(name="COUNT")
all_riders.to_excel("output/all_ridership.xlsx")

* Groupby the origins and summarize to get the station level entrances
* Groupby the destinations and summarize to get the station level entrances
* Merge the origin and destination passengers dataframes together
* Export

In [8]:
origins=ridership_data.groupby(["ID", "START_PLACE_NAME"]).size().reset_index(name="entrance_passenger")
origins

          ID        START_PLACE_NAME  entrance_passenger
0   MSTN_001               Anacostia               40970
1   MSTN_002  Archives-Navy Memorial               76961
2   MSTN_003            Benning Road               23432
3   MSTN_004               Brookland               62047
4   MSTN_005           Capitol South               79204
..       ...                     ...                 ...
86  MSTN_087                  McLean               16688
87  MSTN_088           Tysons Corner               30256
88  MSTN_089              Greensboro               10246
89  MSTN_090             Spring Hill                9059
90  MSTN_091                  Wiehle               62358

[91 rows x 3 columns]

In [9]:
destinations=ridership_data.groupby(["ID_1", "END_PLACE_NAME"]).size().reset_index(name="exit_passenger")
destinations

        ID_1          END_PLACE_NAME  exit_passenger
0   MSTN_001               Anacostia           42134
1   MSTN_002  Archives-Navy Memorial           77261
2   MSTN_003            Benning Road           22922
3   MSTN_004               Brookland           61909
4   MSTN_005           Capitol South           81996
..       ...                     ...             ...
86  MSTN_087                  McLean           16714
87  MSTN_088           Tysons Corner           31054
88  MSTN_089              Greensboro           10562
89  MSTN_090             Spring Hill            9301
90  MSTN_091                  Wiehle           64450

[91 rows x 3 columns]

In [10]:
combined = pd.concat([origins, destinations], axis=1)
combined

,ID,START_PLACE_NAME,entrance_passenger,ID_1,END_PLACE_NAME,exit_passenger
0,MSTN_001,Anacostia,40970,MSTN_001,Anacostia,42134
1,MSTN_002,Archives-Navy Memorial,76961,MSTN_002,Archives-Navy Memorial,77261
2,MSTN_003,Benning Road,23432,MSTN_003,Benning Road,22922
3,MSTN_004,Brookland,62047,MSTN_004,Brookland,61909
4,MSTN_005,Capitol South,79204,MSTN_005,Capitol South,81996
...,...,...,...,...,...,...
86,MSTN_087,McLean,16688,MSTN_087,McLean,16714
87,MSTN_088,Tysons Corner,30256,MSTN_088,Tysons Corner,31054
88,MSTN_089,Greensboro,10246,MSTN_089,Greensboro,10562
89,MSTN_090,Spring Hill,9059,MSTN_090,Spring Hill,9301
90,MSTN_091,Wiehle,62358,MSTN_091,Wiehle,64450

In [11]:

combined.to_csv("output/WMATA_entrances_exits_all_riders.csv")